page-menu {

    @media(max-width: 567px){
        .navHeader{
            background-color: #FFFFFF; 
            height: 150px;
            text-align: center;
            padding-top:32px;
            padding-bottom: 32px;
            font-style: bold;
        }
        
    }

}
